# Secrets
.env
.env.*
!.env.example

# Dependencies & Caches (Project-wide)
**/venv/
**/__pycache__/
**/.pycache/
**/*.pyc
**/node_modules/
**/dist/

# Static Analysis
**/.pyright_cache/
**/.pytest_cache/
**/.eslintcache

# Storage & Data
# Ignore local user data
backend/data/
# But KEEP the test dataset for the assignment grade
!backend/data/test_images/
!backend/data/test_images/*

# OS Clutter
.DS_Store
